*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

	/*CSS Header*/

header{
	height: 110vh;
	background: url(../images/bg.jpeg);
	background-size: cover;
	background-position: center;
}

header > .first-nav{
	height: 75px;
	border-bottom: 2px solid indigo;
	display: flex;
	justify-content: center;
	align-items: center;
/*	position: sticky;
	top: 0;*/
}

header > .first-nav > ul {
	display: flex;
	list-style-type: none;
}

header > .first-nav > ul > li {
	color: whitesmoke;
	margin: 0 20px;
}

.second-nav{
	height: 75px;
	border-bottom: 2px solid indigo;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

.second-nav > ul {
	display: flex;
	list-style-type: none;
}

.second-nav > ul > li {
	color: darkblue;
	margin: 0 20px;
}

	/*Styling for all buttons*/

.btn {
	padding: 10px 20px;
	border-radius: 15px;
	/*border: none;*/
}

.btn-product {
	background-color: lightblue;
	font-size: 15px;
	font-weight: bold;
}

#galaxyBtn {
	position: absolute;
	right: 35px;
	top: 20px;
	transition: .3s;
}

#galaxyBtn:hover {
	top: 15px;
}

/*Disapperating Menu CSS*/
.submenu {
	background-color: purple;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 48px;
	visibility: hidden;

}

#mega-menu:hover > .submenu, #mega-menu > .sub-menu:hover {
	visibility: visible;
}

.submenu > div {
	width: 25%;
}

.submenu > div > h4, .submenu > div > p {
	margin: 10px 0;
	padding: 0 10px;	
}

.submenu > div > p:hover {
	background-color: lightblue;
}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.header-text > h1 {
	font-size: 55px;
}

.hColor {
	color: white;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: darkblue;
	color: white;
}

	/*End CSS for Header*/

	/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

.quote1 {
	/*background-position: center;
	background-size: cover;
	font-family: 'Pacifico', cursive;
	font-width: 10vh;
	font-size: 10px*/
	height: 100vh;
/*	background-color: blue;*/
	display: flex;

}
.left {
	height: 100vh;
	width: 50vw;
/*	border-bottom: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote1 > .left > div > img {
	height: 350px;
	width: 450px;
	border-radius: 10%;

}

.right {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.quote2 {
	height: 50vh;
	/*margin-top: 100px;*/
/*	display: flex;*/
/*	margin-bottom: 50px;*/
	
}

.percentCol {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-width: 10vh;
	font-size: 10px
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 2px solid gray;*/
	
}

sup {
	font-size: 25px;
}

.pCol1	{
	font-family: 'Bangers', cursive;
	font-width: 50px;
	font-size: 50px;
}

.left1, .right1 {
/*	border: 2px solid pink;*/
	padding: 0 3px 0 3px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

#use1 {
	margin-top: 5px;
	margin-bottom: 20px;
}


.fourthRow {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.fourthRow > div > p {
	font-size: 20px;
}

.fourthRow > div > h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
}

.motherbox {
/*	border: 2px solid black;*/
	height: 370px; 
	width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sonbox1 {
	height: 350px;
	width: 300px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox1 p {
	margin: 50px;
}

.sonbox1 img {
	height: 80px;
	width: 85px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox1 div {
	text-align: center;
}

.sonbox1 h5 {
	margin: 20px;
}

.sonbox1 hr {
	position: relative;
	top: 50px;
}

.sonbox1:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

.sonbox2 {
	height: 350px;
	width: 300px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox2 p {
	margin: 50px;
}

.sonbox2 img {
	height: 80px;
	width: 85px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox2 div {
	text-align: center;
}

.sonbox2 h5 {
	margin: 20px;
}

.sonbox2 hr {
	position: relative;
	top: 50px;
}

.sonbox2:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

.sonbox3 {
	height: 350px;
	width: 300px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox3 p {
	margin: 59.5px;
}

.sonbox3 img {
	height: 80px;
	width: 85px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox3 div {
	text-align: center;
}

.sonbox3 h5 {
	margin: 20px;
}

.sonbox3 hr {
	position: relative;
	top: 50px;
}

.sonbox3:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}


.hr img {
	height: 80px;
	width: 80px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
	top: -40px;
	background: indigo;
	padding: 0 5px;
}

	/*End of Quote CSS*/

	/*Media Queries*/

/*desktop*/

@media only screen and (min-width: 850) and (max-width: 1300px) {
	/*CSS Header*/

header{
	height: 110vh;
	background: url(../images/bg.jpeg);
	background-size: cover;
	background-position: center;
}


header > .first-nav{
	height: 75px;
	border-bottom: 2px solid indigo;
	display: flex;
	justify-content: center;
	align-items: center;
/*	position: sticky;
	top: 0;*/
}

header > .first-nav > ul {
	display: flex;
	list-style-type: none;
}

header > .first-nav > ul > li {
	color: whitesmoke;
	margin: 0 20px;
}

.second-nav{
	height: 75px;
	border-bottom: 2px solid indigo;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

.second-nav > ul {
	display: flex;
	list-style-type: none;
}

.second-nav > ul > li {
	color: darkblue;
	margin: 0 20px;
}

	/*Styling for all buttons*/

.btn {
	padding: 10px 20px;
	border-radius: 15px;
	/*border: none;*/
}

.btn-product {
	background-color: lightblue;
	font-size: 15px;
	font-weight: bold;
}

#galaxyBtn {
	position: absolute;
	right: 35px;
	top: 20px;
	transition: .3s;
}

#galaxyBtn:hover {
	top: 15px;
}

/*Disapperating Menu CSS*/
.submenu {
	background-color: purple;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 48px;
	visibility: hidden;

}

#mega-menu:hover > .submenu, #mega-menu > .sub-menu:hover {
	visibility: visible;
}

.submenu > div {
	width: 25%;
}

.submenu > div > h4, .submenu > div > p {
	margin: 10px 0;
	padding: 0 10px;	
}

.submenu > div > p:hover {
	background-color: lightblue;
}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.header-text > h1 {
	font-size: 55px;
}

.hColor {
	color: white;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: darkblue;
	color: white;
}

	/*End CSS for Header*/

	/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

.quote1 {
	/*background-position: center;
	background-size: cover;
	font-family: 'Pacifico', cursive;
	font-width: 10vh;
	font-size: 10px*/
	height: 100vh;
/*	background-color: blue;*/
	display: flex;

}
.left {
	height: 100vh;
	width: 50vw;
/*	border-bottom: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote1 > .left > div > img {
	height: 350px;
	width: 450px;
	border-radius: 10%;

}

.right {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.quote2 {
	height: 50vh;
	/*margin-top: 100px;*/
/*	display: flex;*/
/*	margin-bottom: 50px;*/
	
}

.percentCol {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-width: 10vh;
	font-size: 10px
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 2px solid gray;*/
	
}

sup {
	font-size: 25px;
}

.pCol1	{
	font-family: 'Bangers', cursive;
	font-width: 50px;
	font-size: 50px;
}

.left1, .right1 {
/*	border: 2px solid pink;*/
	padding: 0 3px 0 3px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

#use1 {
	margin-top: 5px;
	margin-bottom: 20px;
}


.fourthRow {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.fourthRow > div > p {
	font-size: 20px;
}

.fourthRow > div > h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
}

.motherbox {
/*	border: 2px solid black;*/
	height: 370px; 
	width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sonbox1 {
	height: 350px;
	width: 300px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox1 p {
	margin: 50px;
}

.sonbox1 img {
	height: 80px;
	width: 85px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox1 div {
	text-align: center;
}

.sonbox1 h5 {
	margin: 20px;
}

.sonbox1 hr {
	position: relative;
	top: 50px;
}

.sonbox1:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

.sonbox2 {
	height: 350px;
	width: 300px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox2 p {
	margin: 50px;
}

.sonbox2 img {
	height: 80px;
	width: 85px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox2 div {
	text-align: center;
}

.sonbox2 h5 {
	margin: 20px;
}

.sonbox2 hr {
	position: relative;
	top: 50px;
}

.sonbox2:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

.sonbox3 {
	height: 350px;
	width: 300px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox3 p {
	margin: 59.5px;
}

.sonbox3 img {
	height: 80px;
	width: 85px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox3 div {
	text-align: center;
}

.sonbox3 h5 {
	margin: 20px;
}

.sonbox3 hr {
	position: relative;
	top: 50px;
}

.sonbox3:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}


.hr img {
	height: 80px;
	width: 80px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
	top: -40px;
	background: indigo;
	padding: 0 5px;
}
}

/*mobile*/

@media only screen and (max-width: 450px) {
	header{
		height: 100vh;
		width: 100vw;
		background: url(../images/bg.jpeg);
		background-size: cover;
		background-position: center;
}


header > .first-nav{
	height: 50px;
	border-bottom: 2px solid indigo;
	display: flex;
	justify-content: right;
	align-items: center;
/*	position: sticky;
	top: 0;*/
}

header > .first-nav > ul {
	position: absolute;
	left: 10px;
	display: flex;
	list-style-type: none;
}

header > .first-nav > ul > li {
	font-size: 11px;
	color: whitesmoke;
	margin: 0 5px;
}


.second-nav{
	height: 50px;
	border-bottom: 2px solid indigo;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

.second-nav > ul {
	display: flex;
	list-style-type: none;
}

.second-nav > ul > li {
	color: darkblue;
	margin: 0 20px;
	font-size: 11px;
}

	/*Styling for all buttons*/

.btn {
	padding: 5px 10px;
	border-radius: 15px;
	/*border: none;*/
}

.btn-product {
	background-color: lightblue;
	font-size: 10px;
	font-weight: bold;
}

#galaxyBtn {
	width: 40vw;
	position: absolute;
	left: 235px;
	top: 12px;
	transition: .3s;
}

#galaxyBtn:hover {
	top: 15px;
}

.header-text {
	height: 50vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.header-text > h1 {
	font-size: 25px;
}

.hColor {
	color: white;
	font-size: 10px;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: darkblue;
	color: white;
}

	/*End CSS for Header*/


	/*Start of Quote CSS*/


.quote1 {
	height: 100vh;
	display: flex;

}
.left {
	height: 100vh;
	width: 50vw;
/*	border-bottom: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote1 > .left > div > img {
	height: 200px;
	width: 190px;
	border-radius: 10%;

}

.right {
	font-size: 12px;
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;

}


.percentCol {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-width: 3vh;
	font-size: 3px
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 2px solid gray;*/
	
}

sup {
	font-size: 15px;
}

.pCol1	{
	font-family: 'Bangers', cursive;
	font-width: 30px;
	font-size: 30px;

}


.fourthRow {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.fourthRow > div > p {
	font-size: 15px;
}

.fourthRow > div > h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 15px;
}

.motherbox {
	/*border: 2px solid black;*/
	height: 370px; 
	width: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sonbox1 {
	height: 250px;
	width: 130px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox1 p {
	font-size: 7px;
	margin: 40px;
}

.sonbox1 img {
	height: 50px;
	width: 50px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox1 div {
	text-align: center;
}

.sonbox1 h5 {
	margin: 5px;
	font-size: 7px;
}

.sonbox1 hr {
	position: relative;
	top: 30px;
}

.sonbox1:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

.sonbox2 {
	height: 250px;
	width: 130px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox2 p {
	font-size: 7px;
	margin: 40px;
}

.sonbox2 img {
	height: 50px;
	width: 50px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox2 div {
	text-align: center;
}

.sonbox2 h5 {
	margin: 5px;
	font-size: 7px;
}

.sonbox2 hr {
	position: relative;
	top: 30px;
}

.sonbox2:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

.sonbox3 {
	height: 250px;
	width: 130px;
	border: 1px solid darkblue;
	border-radius: 10px;
}

.sonbox3 p {
	font-size: 7px;
	margin: 40px;
	margin-top: 70px;
}

.sonbox3 img {
	height: 50px;
	width: 50px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
}

.sonbox3 div {
	text-align: center;
}

.sonbox3 h5 {
	margin: 5px;
	font-size: 7px;
}

.sonbox3 hr {
	position: relative;
	top: 30px;
}

.sonbox3:hover {
	transform: scale(1, 1);
	transition: .3s;
	-webkit-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
box-shadow: 17px 18px 28px -4px rgba(0,0,0,0.75);
}

/*
.hr img {
	height: 80px;
	width: 80px;
	border-radius: 80%;
	z-index: 10;
	position: relative;
	top: -40px;
	background: indigo;
	padding: 0 5px;
}*/

	/*End of Quote CSS*/

}